/* body {
  background-color: #FFE3DC;
  max-width: 960px;
  font-size: 25px;
  text-align: center;
}


h3 {
  color: #3A2D32;
  text-align: left;
}

* {
  box-sizing: border-box;
} */

main {
  background-color: rgba(105, 218, 49, 0.598);
}

img {
  height: 250px;
  width: 250px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}